<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Servers</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Boston</string>
			<key>URL</key>
			<string>https://mayors24.cityofboston.gov:6443/open311/v2</string>
			<key>jurisdiction_id</key>
			<string>cityofboston.gov</string>
			<key>supports_media</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Baltimore</string>
			<key>jurisdiction_id</key>
			<string>baltimorecity.gov</string>
			<key>URL</key>
			<string>http://311test.baltimorecity.gov/open311/v2</string>
			<key>supports_media</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bloomington</string>
			<key>URL</key>
			<string>https://bloomington.in.gov/ureport/open311/v2</string>
			<key>supports_media</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
