<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict/>
	<key>fields</key>
	<array>
		<array>
			<dict>
				<key>fieldname</key>
				<string>media</string>
				<key>label</key>
				<string>Add Photo</string>
				<key>type</key>
				<string>media</string>
			</dict>
			<dict>
				<key>fieldname</key>
				<string>address_string</string>
				<key>label</key>
				<string>Location</string>
				<key>type</key>
				<string>location</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>fieldname</key>
				<string>description</string>
				<key>label</key>
				<string>Description</string>
				<key>type</key>
				<string>text</string>
			</dict>
		</array>
		<array/>
		<array>
			<dict>
				<key>fieldname</key>
				<string>first_name</string>
				<key>label</key>
				<string>Firstname</string>
				<key>type</key>
				<string>string</string>
			</dict>
			<dict>
				<key>fieldname</key>
				<string>last_name</string>
				<key>label</key>
				<string>Lastname</string>
				<key>type</key>
				<string>string</string>
			</dict>
			<dict>
				<key>fieldname</key>
				<string>email</string>
				<key>label</key>
				<string>Email</string>
				<key>type</key>
				<string>string</string>
			</dict>
			<dict>
				<key>fieldname</key>
				<string>phone</string>
				<key>label</key>
				<string>Phone</string>
				<key>type</key>
				<string>string</string>
			</dict>
		</array>
	</array>
	<key>requiredFields</key>
	<array/>
</dict>
</plist>
