<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>first_name</key>
		<string></string>
		<key>last_name</key>
		<string></string>
		<key>email</key>
		<string></string>
		<key>phone</key>
		<string></string>
		<key>address_string</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>jurisdiction_id</key>
		<string></string>
		<key>lat</key>
		<string></string>
		<key>long</key>
		<string></string>
		<key>service_code</key>
		<string></string>
	</dict>
	<key>fields</key>
	<array>
		<string>media</string>
		<string>address_string</string>
		<string>description</string>
		<string>first_name</string>
		<string>last_name</string>
		<string>email</string>
		<string>phone</string>
	</array>
	<key>labels</key>
	<dict>
		<key>address_string</key>
		<string>Choose a Location</string>
		<key>description</key>
		<string>Description</string>
		<key>media</key>
		<string>Take a Photo</string>
		<key>first_name</key>
		<string>Firstname</string>
		<key>last_name</key>
		<string>Lastname</string>
		<key>email</key>
		<string>Email</string>
		<key>phone</key>
		<string>Phone</string>
	</dict>
	<key>types</key>
	<dict>
		<key>first_name</key>
		<string>string</string>
		<key>last_name</key>
		<string>string</string>
		<key>email</key>
		<string>string</string>
		<key>phone</key>
		<string>number</string>
		<key>address_string</key>
		<string>location</string>
		<key>description</key>
		<string>text</string>
		<key>media</key>
		<string>media</string>
	</dict>
	<key>values</key>
	<dict/>
	<key>requiredFields</key>
	<array/>
</dict>
</plist>
